.flex-container {
    display: flex;
    justify-content: space-between;
}

.font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    font-weight: bold;

}

.head-div {
  background-image: linear-gradient(to bottom right, rgb(98, 51, 51), rgb(246, 178, 173));
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  font-weight: bold;
}


.about-div {
    background-color: #735751;
}

.about-title {
    font-family: 'garamond';
    font-size: 44px;
    font-weight: bold;
}

.about {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}

.about-m {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.zoom { 
    transition: transform .2s;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
  }

  .time {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    color: rgb(105, 21, 57);
    background-color: #462e2a;

  }

  .font {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: bold;
    color: white;

  }